.project-contain {
    width: 100vw;
    display: flex;
    margin-top: 120px;

    .pro-p {
      color: #fdae05;
      display: flex;
      justify-content: center;
      font-size: 25px;
      font-family: Poppins,sans-serif;
      
    }
}

.pro-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.line {
    display: flex;
    justify-content: center;
}

hr {
    width: 40%;
    height: 1px;
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: white;
}

.pro-class {
    margin: 40px 20px;
    max-width:  390px;
    border: 3px solid #264653;
    border-radius: 10px;
    padding: 10px;

    .git {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    .btn-list {
        width: 60px;
        height: 25px;
        background-color: #384455;
        border: none;
        margin-right: 5px;
    }

    .btn-list a {
        text-decoration: none;
        color: #fff;
    }

    .btn-list:hover {
        background-color: #fff;
    }

    a:hover {
        color: black;
    }

    img {
        width: 350px;
        margin-bottom: 5px;
        border: 0.5px solid white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
    }

    img:hover {
        padding: 0;
        width: 370px;
        border: 1px solid red;
        box-shadow: 0 5px 5px 5px #87a2c9;
        
    }

    h2 {
        color: white;
    }

    p {
        font-size: 15px;
        color: rgb(105, 99, 99);
    }

    ul {
        display: flex;
        margin-top: 15px;
    }

    li {
        list-style: none;
        color: white;
        padding: 5px;
        margin-left: 20px;
        height: 25px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #264653;
    }
    
}

.pro-class:hover {
    border: 3px solid #fdae05;
}

@media screen and (max-width: 750px) {
    .pro-class {
        max-width: 370px;
    }
    .project-contain {
        display: flex;
        justify-content: center;
    }

    .pro-p {
        padding-left: 40px;
    }
    hr {
      display: none;
    }
 }
