@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

.introduction {
    background-color: rgb(4, 5, 82);
    width: 100%;
}
.intro-top {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;

    .into-br {
        width: 50%;
        padding-left: 40px;
    }
    .image {
        width: 20%;
        min-width: 150px;
        border-radius: 10px;
        border: 3px solid #fdae05;
        margin-left: 4rem;
    }

    h2{
      font-family: Poppins,sans-serif;
      color: #fff;
      font-size: 35px;
      letter-spacing: 1.5px;
      border-bottom: 3px solid #fdae05;
      width: 180px;
      padding-bottom: 5px;
      position: relative;
      bottom: 30px;
    }

    .intro-span {
      color: #fdae05;
      font-family: Poppins,sans-serif;
      font-size: 30px;
    }

    .intro-about {
        width: 83%;
    }

    .intro-about, p {
    margin-top: 22px;
    color: hsla(0,0%,100%,.733);
    font-family: Poppins,sans-serif;
    font-size: 17px;
    }

}

.skills {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.skill-title {
    width: 8%;
    display: flex;
    font-size: 40px;
    font-family: Poppins,sans-serif;
    font-weight: 700;
    justify-content: center;
    color: #fff;
    border-bottom: 3px solid #fdae05;
    padding-bottom: 3px;
}

.all-skill {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.skill-show {
  max-width: 370px;
  height: 12rem;
  border: 3px solid #8968f5;
  border-radius: 10px;
  margin-bottom: 3rem;
  color: #fdae05;
}

.skill-ins {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    p {
        width: 80%;
        font-size: 15px;
        line-height: 1.5rem;
        color: hsla(0,0%,100%,.733);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        font-family: Poppins,sans-serif;
    }
}

.skill-show:hover {
    border: 3px solid #fdae05;
    transition: 0.5s;
}

@media screen and (max-width: 750px) {
   .intro-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image {
        width: 70%;
        margin: 0 auto;
       }    

    .into-br {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3rem;
        width: 100%;
        padding-right: 0;
        
    }

    h2, span {
        margin: 0 auto;
    }

    .intro-about, p {
        display: flex;
        justify-content: center;
        width: 100%;
    }
   }

   .introduction span {
    font-size: 25px;
   }
}
  